<!--Start Header-->
<div class="header">
  <div class="navbar">
    <div class="container">
      <h2>Ze<span>yad</span></h2>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Me</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Resume</a></li>
        <li><a href="#">Testamonals</a></li>
        <li><a href="#">Porotifolo</a></li>
        <li><a href="#">Contact Me</a></li>
      </ul>
    </div>
  </div>
  <div class="slider">
    <div class="container">
      <div class="info">
        <h2>Web & Graphic Designer</h2>
        <button>Learn more</button>
      </div>
    </div>
  </div>

</div>
